
## Type   :  PhD Project
## Auteur :  Maxime Marini, Callum Gapes
## Topic  :  Habitat selection from migratory shorebirds within and across Hunter & Port Stephen estuaries
## Main   :  Prevent files, folders and more to be uploaded online to the Git Hub
## Created:  2025 July



# do not upload local session state 
.Rproj.user
# do not upload personal command history
.Rhistory
# do not upload current objects in workspace
.RData
# do not upload preferences/local config
.Ruserdata
#	 do not upload temporary files on workspace save
.RDataTmp*

# do not upload the files of type .gpkg
#data/*.gpkg        
# but the file exemple.gpkg
#!data/exemple.gpkg

# do not upload the folder 
/00_Callum_07.2025/
/10_data/
/docs/


# do not upload this type of files
*.rds
*.motus
*.zip

# but the file exemple.html
#!/resources/exemple.html